.button
  font-family: 'ubuntu', sans-serif
  box-sizing: border-box
  box-shadow: none
  outline: none
  padding: 0.218rem 2.062rem
  border-radius: 22px
  &:hover
    cursor: pointer
  &--primary
    color: $light
    background-color: $primary
    border: 2px solid $primary
    box-shadow: none
    font-weight: 600
    line-height: 37.33px
    transition: 0.5s
    &:hover
      border: 2px solid $primary
      background: $light
      color: $primary
  &--light
    color: $primary
    background-color: $light
    border: none
    box-shadow: none
    font-weight: 600
    line-height: 37.33px
    border-radius: 25px
    transition: 0.5s
    padding: 0.5rem 4em
    &:hover
      background: $light
      color: $primary
  &__link
    color: $light
    &:hover
      color: $primary
      
      