.button
  font-family: 'ubuntu', sans-serif
  box-sizing: border-box
  box-shadow: none
  outline: none
  padding: 0.7rem 1.93rem
  border-radius: 22px
  &:hover
    cursor: pointer
  &--primary
    color: $light
    background-color: $primary
    border: 2px solid $primary
    box-shadow: none
    font-weight: 600
    transition: 0.5s
    &:hover
      border: 2px solid $primary
      background: $light
      color: $primary
  &--light
    color: $primary
    background-color: $light
    border: 2px solid $light
    box-shadow: none
    font-weight: 600
    border-radius: 25px
    transition: 0.5s
    padding: 0.9rem 4rem
    &:hover
      background: transparent
      color: $light
      border: 2px solid $light
  &__link
    color: $light
    &:hover
      color: $primary
.upbutton
  display: none
  background: url('../img/up.png') no-repeat top left
  height: 60px
  width: 60px
  bottom: 30px
  right: 30px
  cursor: pointer
  position: fixed
  z-index: 999
      
      