*, *:before, *:after
  box-sizing: border-box
html
  font-size: 16px
body
  font-family: 'Ubuntu', sans-serif
  font-size: 1rem
a
  text-decoration: none
img
  max-width: 100%
*:active, *:hover, *:focus
  outline: 0
  outline-offset: 0
// Fix placeholder color in Firefox 19+ and Firefox 18-
::-moz-placeholder, :-moz-placeholder
    opacity: 1
.section
  &__title
    color: $dark
    font-size: 1.812rem
    font-weight: 700
    line-height: 2.33rem
    text-align: center
  &__description
    color: $dark
    font-weight: 400
    line-height: 1.375rem
    text-align: center
p
  margin: 0
  margin-bottom: 1rem




      

