.avantage
  &__row
    align-items: baseline
    justify-content: space-around
    margin: 0 1rem
  &__col-30
    margin-bottom: 2.2rem
  &__title
    margin-top: 5.3rem
    margin-bottom: 2rem
  &__description
    max-width: 50rem
    margin: auto
    margin-bottom: 3.5rem
  &__card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    height: 182px
    &-title
      display: block
      color: $dark
      font-size: 1.25rem
      font-weight: 700
      line-height: 2.33rem
      margin-bottom: 0.6rem
    &-text
      display: block
      color: $secondary
      font-weight: 300
      line-height: 1.375rem
      text-align: center
      max-width: 19rem
    &-image
      margin-bottom: 1.1rem
      
