.row__services
  display: flex
  align-items: flex-start
  justify-content: start
  flex-wrap: wrap
  margin: auto
.col-30__services
  flex-basis: 30%
.services
  background: $light url('../img/services/services-bg.png') no-repeat center
  padding-bottom: 14.43rem
  &__title
    margin-bottom: 1.68rem
  &__description
    max-width: 49rem
    text-align: center
    margin: auto
    color: $dark
    font-weight: 400
    line-height: 1.375rem
    margin-bottom: 3.56rem
  &__card
    background: $light
    border-radius: 5px
    border: 1px solid #c9c8c8
    width: 22.18rem
    height: 19.37rem
    padding: 36px 35px
    margin-bottom: 2.3rem
    margin-left: 2rem
    margin-right: 2rem
    &:hover
      cursor: pointer
      border-bottom: 5px solid $primary
    &-title
      display: block
      color: $dark
      font-size: 1.625rem
      font-weight: 600
      line-height: 2.33rem
      margin-top: 1rem
      margin-bottom: 1.5rem
    &-text
      font-weight: 300
      line-height: 1.583rem