.statistics
  position: relative
  width: 100%
  min-height: 39.56rem
  background: $light url('../img/statistics/video-bg.jpg') no-repeat center / cover
  &__description
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    left: 50%
    margin-left: -31%
    margin-top: -7.62rem
    padding: 6rem 4rem
    width: 61%
    min-height: 20.18rem
    background: $light url('../img/statistics/bg.png') no-repeat center
    box-shadow: 0 0 22px 5px rgba(34, 34, 34, 0.05)
  &__item
    &--title
      color: $primary
      font-size: 3.875rem
      font-weight: 700
      line-height: 5.195rem
      letter-spacing: -3.34px
      text-align: center
    &--text
      color: $dark
      font-size: 1.375rem
      font-weight: 700
      line-height: 2.33rem
      text-align: center
  &__video
    position: relative
    &__play
      position: absolute
      left: 50%
      margin-left: -60px
      margin-top: 19.78rem
      &__mobile
        display: none
        position: absolute
        left: 50%
        margin-left: -33px
        margin-top: 18rem